<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-6">
                <div class="text color-black mb10">© 2019, «Альтера Инвест»</div>
                <p class="caption color-dark mb40">Предоставленные на сайте данные имеют информационный характер и не являются публичной офертой.</p>
                <a href="#" class="d-block caption color-dark underline mb10">Пользовательское соглашение</a>
                <a href="#" class="d-block caption color-dark underline mb10">Информация об оплате с помощью банковской карты</a>
                <a href="#" class="d-block caption color-dark underline">Условия использования информации, размещенной на сайте</a>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
                <p class="text color-black mb20 d-flex"><i class="icon icon-pin"></i> г. Санкт-Петербург, БЦ "Андрин", Лиговский проспект 123</p>
                <p class="text color-black mb20 d-flex"><i class="icon icon-address"></i> 191119, Санкт-Петербург, Лиговский пр., д. 123, литер А, пом. 4Н</p>
                <a href="tel:+7(812)332-52-24" class="link color-black mb20 d-flex"><i class="icon icon-phone"></i> +7 (812) 332-52-24</a>
                <a href="mailto:info@alterainvest.ru" class="link color-black d-flex"><i class="icon icon-mail"></i> info@alterainvest.ru</a>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal modal-custom fade" id="horizontalModal" tabindex="-1" role="dialog" aria-labelledby="horizontalModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span class="modal-custom__close" data-dismiss="modal" aria-label="Close"></span>
                <div class="heading2 mb20 color-black">Оставьте заявку</div>
                <p class="text mb20 color-dark">Lorem ipsum dolor sit consectetuer adipiscing elit.</p>
                <div class="row">
                    <div class="col-12 col-lg-12 mb10">
                        <label class="caption mb0 color-dark">Ваше имя</label>
                        <input type="text" required class="custom-input" placeholder="Ваше имя"/>
                    </div>
                    <div class="col-12 col-lg-12 mb10">
                        <label class="caption mb0 color-dark">Телефон</label>
                        <input type="tel" required class="custom-input" placeholder="Телефон"/>
                    </div>
                    <div class="col-12 col-lg-12 mb24">
                        <label class="caption mb0 color-dark">Email</label>
                        <input type="email" required class="custom-input" placeholder="Email"/>
                    </div>
                    <div class="col-12 mb30">
                        <label class="modal-checkbox-label text">
                            <input class="modal-checkbox-label__input" type="checkbox" id="checkbox">
                            <span class="modal-checkbox-label__custom"></span>
                            <div class="box">Согласен на обработку персональных данных</div>
                        </label>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="button button-black">Отправить заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-custom fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span class="modal-custom__close" data-dismiss="modal" aria-label="Close"></span>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="videoYtb"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

