<div class="menu-mobile d-lg-none d-flex flex-column">
    <div class="menu-mobile__wrapper">
        <div class="menu-mobile__navigation navigation">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navigation-list">
                            <a class="link bold color-black" href="#">Каталог бизнеса</a>
                            <a class="link bold color-black" href="#">О проекте</a>
                            <a class="link bold color-black" href="#">Команда проекта</a>
                            <a class="link bold color-black" href="#">СМИ о нас</a>
                            <a class="link bold color-black" href="#">Обучение</a>
                            <a class="link bold color-black" href="#">Контакты</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-mobile__ftr mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-12 mb20">
                    <div class="link icon icon-location mr24">
                        <select>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Псков</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 mb40">
                    <span class="link icon icon-login mr24">Личный кабинет</span>
                    <span class="link icon icon-favourite mr10">5</span>
                    <span class="link icon icon-compare">3</span>
                </div>
                <div class="col-12">
                    <a href="#" class="button button-border">Добавить бизнес</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup show popup-location-mobile d-lg-none d-flex flex-column text-center">
    <div class="heading3 color-black mb20">Ваш город - Санкт-Петербург?</div>
    <div class="d-flex justify-content-between">
        <span class="button popup-location-mobile__btn-small button-black mr20">Да</span>
        <select class="button button-border">
            <option>Другой город</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
</div>